<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="_inc/title.html :: title"></th:block>
</head>
<body>

	<div id="wrap">
	<!-- HEADER BEGIN -->
		<header class="sub">
			<th:block th:replace="_inc/header.html :: header"></th:block>
		</header>
	<!-- HEADER END -->

	<!-- CONTENTS BEGIN -->
		<div id="sub_contents" class="board head_mg mb140">
			<div class="navi">
				<div class="top_navi"><a href="/board"><img src="/_img/cont/navi_arrow.png"></a><h2>게시물 작성</h2></div>
			</div>
			<form method="post" action="/board/write" >
			<div class="bbs_write w_box top no_line">
				<p class="path mb10">자유게시판</p>
				<input type="text" name="boardTitle" placeholder="게시물 제목 입력" class="mb10"/>
				<textarea rows="10" name="boardContents" placeholder="게시물 내용 입력"></textarea>
				<div class="add_photo">
					<a href="#none" class="add">
						<span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M194.6 32H317.4C338.1 32 356.4 45.22 362.9 64.82L373.3 96H448C483.3 96 512 124.7 512 160V416C512 451.3 483.3 480 448 480H64C28.65 480 0 451.3 0 416V160C0 124.7 28.65 96 64 96H138.7L149.1 64.82C155.6 45.22 173.9 32 194.6 32H194.6zM256 384C309 384 352 341 352 288C352 234.1 309 192 256 192C202.1 192 160 234.1 160 288C160 341 202.1 384 256 384z"/></svg></span>
						<span class="count"><b>2</b> /10</span>
					</a>
					<ul>
						<li>
							<span><img src="/_img/cont/photo_thum.png" width="65" height="65" style="background:url('/_img/cont/best03.jpg')no-repeat 50% 50% / cover"></span>
							<a href="#" class="close"></a>
						</li>
						<li>
							<span><img src="/_img/cont/photo_thum.png" width="65" height="65" style="background:url('/_img/cont/best04.jpg')no-repeat 50% 50% / cover"></span>
							<a href="#" class="close"></a>
						</li>
					</ul>
				</div>
				<p class="btn mt10"><a href="#" onclick="layer_open('okPop','ok_Pop')">작성완료</a></p>


				<th:block th:replace="_inc/bottom_menu.html :: bottom_menu"></th:block>
			</div>
				<input type="submit" style="display: none" id="submit">
			</form>
			<th:block th:replace="_inc/footer :: footer"></th:block>
			</div>
	<!-- CONTENTS END -->

	<!-- POPUP BEGIN -->
	<!-- 작성완료 선택 시 노출 -->
	<div class="layer" id="ok_Pop">
		<div class="bg"></div>
		<div class="pop-layer" id="okPop">
			<div class="pop_cont text">
				<p class="tit c">게시물 작성 완료</p>
				<p class="mb20 c">게시물이 등록되었습니다.</p>
				<p class="btn"><a href="javascript:boardSubmit();">확인</a></p>
			</div> 
		</div>
	</div>
	<!-- POPUP END -->

</div>
<!-- //wrap -->
</body>
<script>
	function boardSubmit() {
		document.getElementById("submit").click();
	}
</script>

</html>


