<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="_inc/title.html :: title"></th:block>
</head>
<body>

	<div id="wrap">
	<!-- HEADER BEGIN -->
		<header class="sub">
			<th:block th:replace="_inc/header.html :: header"></th:block>
		</header>
	<!-- HEADER END -->

	<!-- CONTENTS BEGIN -->
		<div id="sub_contents" class="board head_mg mb140">
			<div class="navi">
				<div class="top_navi"><a href="/board"><img src="/_img/cont/navi_arrow.png"></a><h2>자유게시판</h2></div>
			</div>
			<div class="bbs_view">
				<div class="view_top">
					<p class="tit" th:text="${board.boardTitle}">테스트 게시물 제목입니다.</p>
					<div class="writer"> 
						<a href="#" class="photo">
							<span>
								<!-- 기본이미지 -->
								<img src="/_img/cont/photo_bg.png" style="background:url('/_img/cont/friend_bg2.png')no-repeat 50% 50% / cover" width="85">
								<!-- 이미지 예시 : 권장이미지 225 * 225-->
								<!-- <img src="/_img/cont/photo_bg.png" style="background:url('/_img/cont/ex_photo.jpg')no-repeat 50% 50% /cover" width="85"> -->
							</span>
						</a>
						<div class="info">
							<a href="#" class="name" th:text="${board.boardWriter}">유저닉네임</a>
							<p class="depart"><span>컴퓨터공학과</span><span>20학번</span></p>
							<p><span th:text="${board.createdDate}">2022.05.20</span><span>11:00</span><span th:text="|조회수 ${board.boardViews}|"></span></p>
						</div>
					</div>
				</div>
				<div class="view_bottom">
					<div class="view_cont" th:text="${board.boardContents}">

					</div>
					<a href="#none" class="heart on">
						<span> <!-- 하트활성화 :a 태그에 class="on"를 넣어주세요 -->
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z"/></svg>
						</span>
						이 게시물 추천<strong th:text="${board.boardLikes}"></strong>
					</a>
					<p class="btn nk_btn mt15">
						<a href="/board" class="bt_greenL">목록</a>
						<a href="/board/update" class="bt_gray02">수정</a>
						<a href="#none" class="bt_grayL" onclick="layer_open('delPop','del_Pop')">삭제</a>
					</p>
				</div>
			</div>

			<div class="bbs_comment">
				<textarea id="com_contents" rows="4" placeholder="댓글입력"></textarea>
				<p class="btn mt5"><a href="javascript:insertComment();">등록</a></p>
				<ul>
					<li id="com" th:each="com : ${commentList}">
						<div class="con" th:text="${com.comContents}">

						</div>
						<div class="info">
							<p><span th:text="${com.comWriter}">닉네임</span><span th:text="${com.createdDate}">2022.05.20</span><span>시간</span></p>
							<a href="#none" class="heart small on"><!-- 하트활성화 :a 태그에 class="on"를 넣어주세요 -->
								<span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z"/></svg></span>
								좋아요<strong th:text="${com.comLikes}">1</strong>
							</a>
						</div>
					</li>
				</ul>
				<th:block th:replace="_inc/bottom_menu.html :: bottom_menu"></th:block>
			</div>
			<th:block th:replace="_inc/footer.html :: footer"></th:block>
		</div>
	<!-- CONTENTS END -->

	<!-- POPUP BEGIN -->
	<!-- 삭제 선택 시 노출 -->
	<div class="layer" id="del_Pop">
		<div class="bg"></div>
		<div class="pop-layer" id="delPop">
			<div class="pop_cont text">
				<p class="tit c">게시물 삭제</p>
				<p class="mb20 c">게시물 삭제 후 복구가 불가합니다.<br/>정말 삭제하시겠습니까?</p>
				<p class="two_btn btn"><a href="#" onclick="layer_open('delokPop','delok_Pop')">확인</a><a href="#" class="bt_red cbtn">취소</a></p>
			</div> 
		</div>
	</div>

	<!-- 삭제 팝업 확인 선택 시 노출 -->
	<div class="layer" id="delok_Pop">
		<div class="bg"></div>
		<div class="pop-layer" id="delokPop">
			<div class="pop_cont text">
				<p class="tit c">게시물 삭제 완료</p>
				<p class="mb20 c">게시물이 삭제되었습니다.</p>
				<p class="btn"><a th:href="|/board/delete?boardIdx=${board.boardIdx}|">확인</a></p>
<!--				<p class="btn"><a href="javascript:deleteSubmit();">확인</a></p>-->
			</div>
		</div>
	</div>

	<!-- POPUP END -->

</div>
<!-- //wrap -->

</body>
<script th:inline="javascript">
	function deleteSubmit() {
		// fetch("/board/delete", {
		// 	method: "post",
		// 	headers: {
		// 		"Content-Type": "application/json",
		// 	},
		// 	body: JSON.stringify({
		// 		boardIdx: "[[${board.boardIdx}]]",
		// 	}),
		// }).then((res) => console.log(res));

		// $.ajax({
		// 	type: "post",
		// 	url: "/board/delete",
		// 	data: {boardIdx :"[[${board.boardIdx}]]"}
		// })
	}

	function insertComment() {
		fetch("/board/comment/insert",{
			method: "post",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({
				boardIdx : "[[${board.boardIdx}]]",
				comContents : $("#com_contents").val(),
				comWriter : "호호",
			})
		}).then((res) =>{
			$("#com").replaceWith(res);
		})

	}
</script>
</html>