<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="_inc/title.html :: title"></th:block>
</head>
<body>

	<div id="wrap">
	<!-- HEADER BEGIN -->
		<div class="navi">
			<div class="top_navi"><a href="#"><img src="/_img/cont/navi_arrow.png"></a><h2>회원정보 입력</h2></div>
			<ul>
				<li>사용자 약관동의</li>
				<li>이메일 인증</li>
				<li>회원정보 입력</li>
				<li class="on">가입완료</li>
			</ul>
		</div>
	<!-- HEADER END -->

	<!-- CONTENTS BEGIN -->
		<div id="contents">
			<div class="ok">
				<p class="img"><img src="/_img/cont/join_ok.png" width="53"></p>
				<p class="text">
					가입해 주셔서 감사합니다!<br/>Email 이용해 로그인 해주세요!
				</p>
				<p class="btn"><a href="/login">로그인 페이지로 이동</a></p>
			</div>

		</div>
	
	<!-- CONTENTS END -->
</div>

</body>
</html>

